[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Johan Bäckman
	email = johan.c.backman@gmail.com
[mergetool]
	keepBackup = true
[commit]
	template = ~/.stCommitMsg
[credential]
	helper = osxkeychain
